body {
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
}

.henny {
font-family: 'Henny Penny', cursive;
}

.index-leaves {
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1666984328/Qappz/index_leaves_master_evgceb.webp');
    height: 350vh;
    width: 100vw;
    background-position: right -1000px bottom 850px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.index-logo {
    margin-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

.qappz {
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1667033334/Qappz/qappz_portrait_srf0ve.webp');
    max-height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.qappz-desc {
    text-align: right;
    font-size: 16px;

}

.overlay {
    z-index: 9;
    margin-top: 480px;
  }

.index-thumb {
    max-width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.taco-image {
    background-image: url('https://res.cloudinary.com/millermayhem/image/upload/v1667051392/Qappz/Taco_cu4sc4.webp');
    max-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.taco {
    color: white;
    text-align: left;
    padding: 40px;
}
